{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "About the project" %}</h2>
<p>{% blocktrans %}Gender of german articles is not an easy thing to learn. This project helps in learning it, by letting you
use quizes to memorize them.{% endblocktrans %}</p>
<p>{% blocktrans %}Project stack: Application is written in Python with Django framework. Quiz logic is based on 'django_quiz' with
    modifications and extensions.{% endblocktrans %}</p>
<p>{% blocktrans %}The whole project is open-source. You can find code at GitHub: {% endblocktrans %}<a href="https://github.com/iustitia/garts">Garts</a></p>
<p>{% blocktrans %}Source for word list for this app is <a href="http://tatoeba.org/">Tatoeba</a>, sorted by popularity.{% endblocktrans %}</p>
<p>{% blocktrans %}You can use this site in personal and commercial purposes.{% endblocktrans %}</p>


<h2>{% trans "About the author" %}</h2>
<p>{% blocktrans %}Justyna Kubisztal - Python Developer, Django Girls co-organiser and mentor. Language enthusiast. Book worm.
    Life-long learner. She writes a blog in Polish about programming: {% endblocktrans %}<a href="https://programeria.pl">programeria.pl</a></p>
<p>{% trans "Find me on Twitter" %}: <a href="https://twitter.com/JustynaKub">Twitter</a> {% trans "or write me at" %}: jkubisztal (at) gmail.com </p>
{% endblock %}
