{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>About the project</h2>
<p>Gender of german articles is not an easy thing to learn. This project helps in learning it, by letting you
use quizes to memorize them.</p>
<p>Project stack: Application is written in Python with Django framework. Quiz logic is based on 'django_quiz' with
    modifications and extensions.</p>
<p>The whole project is open-source. You can find code at GitHub: <a href="https://github.com/iustitia/garts">Garts</a></p>
<p>Source for word list for this app is <a href="http://tatoeba.org/">Tatoeba</a>, sorted by popularity.</p>
<p>You can use this site in personal and commercial purposes.</p>


<h2>About the author</h2>
<p>Justyna Kubisztal - Python Developer, Django Girls co-organiser and mentor. Language enthusiast. Book worm.
    Life-long learner. She writes a blog in Polish about programming: <a href="https://programeria.pl">programeria.pl</a></p>
<p>Find me on Twitter: <a href="https://twitter.com/JustynaKub">Twitter</a> or write me at: jkubisztal (at) gmail.com </p>
{% endblock %}
