
{% extends 'base.html' %}
{% load i18n %}

{% block content %}

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>{% trans "Learn German Articles!" %}</h1>
            <p><a href="/quiz/" class="btn btn-primary btn-large">Quiz</a></p>
            <p><a href="/wordbrowser/" class="btn btn-primary btn-large">{%  trans "Words" %}</a></p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>{% trans "" %}</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>{% trans "Wordbrowser"%}</h3>
                        <p>{% trans "Check the word article" %}</p>
                        <p>
                            <a href="/wordbrowser/" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">{% trans "More" %}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Quiz</h3>
                        <p>{% trans "Take a test and see how many articles you know" %}</p>
                        <p>
                            <a href="/quiz/" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">{% trans "More" %}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>{% trans "Stats" %}</h3>
                        <p>{% trans "See your progress" %}</p>
                        <p>
                            <a href="#" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">{% trans "More" %}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Placeholder</h3>
                        <p>Important stuff.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">{% trans "More" %}</a>
                        </p>
                    </div>
                </div>
            </div>



        </div>
        <!-- /.row -->

        <hr>

{% endblock %}
