
{% extends 'base.html' %}

{% block content %}

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Naucz się niemieckich rodzajników!</h1>
            <p><a href="/quiz/" class="btn btn-primary btn-large">Quiz</a></p>
            <p><a href="/wordbrowser/" class="btn btn-primary btn-large">Słowa</a></p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Działy</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Słowniczek</h3>
                        <p>Sprawdź znaczenie słowa i jego rodzajnik. Porównaj homonimy.</p>
                        <p>
                            <a href="/wordbrowser/" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">Więcej</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Quiz</h3>
                        <p>Zrób test i zobacz ile znasz rodzajników.</p>
                        <p>
                            <a href="/quiz/" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">Więcej</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Statystyki</h3>
                        <p>Zobacz swoje postępy</p>
                        <p>
                            <a href="#" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">Więcej</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Placeholder</h3>
                        <p>Important stuff.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Start!</a> <a href="#" class="btn btn-default">Więcej</a>
                        </p>
                    </div>
                </div>
            </div>



        </div>
        <!-- /.row -->

        <hr>

{% endblock %}
