beautifulsoup4>=4.5.1
Django>=1.10.4
django-model-utils>=2.0.3
django-mptt>=0.8.6
django-quiz-app>=0.5.1
django-tagging>=0.4.5
django-xmlrpc>=0.1.7
docutils>=0.12
mots-vides==2015.5.11
pluggy==0.4.0
py==1.4.32
pyaml==16.12.2
pyparsing==2.1.10
pytz==2016.10
PyYAML==3.12
regex==2016.11.21
statistics==1.0.3.5
tox==2.5.0
virtualenv==15.1.0
