{% extends 'base.html' %}

{% load i18n %}

{% block content %}

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>{% trans "Log in" %}</h1>
                {% if form.errors %}
                    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
                {% endif %}

              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% trans "Login" %}</button>
              </form>
        </header>

        <div>
            <h2>{% trans "No account yet" %}?</h2>
            <a class="btn btn-default" href="/register">{% trans "Register here" %}!</a>
        </div>

        <div>
            <h2>{% trans "Forgot your password" %}?</h2>
            <a class="btn btn-default" href="/accounts/password_reset/">{% trans "Reset password" %}</a>
        </div>

{% endblock %}
