{% load i18n %}

{% if previous.answers %}
    <div class="row text-center">

		<div id="tick" class="col-md-1 ">
	  {% if user_was_incorrect %}
		  <i class="fa fa-close"></i>
		{% else %}
		  <i class="fa fa-check"></i>
	  {% endif %}
		</div>

		{% for answer in previous.answers %}
        	{% if answer.correct %}
        	<div id="correct" class="col-md-2 correct">{{ answer.content }}</div>
			{% endif %}
		{% endfor %}

		{% if user_was_incorrect %}
        <div id="user-answer" class="col-md-2 wrong">
		{% else %}
		<div id="user-answer" class="col-md-2 correct">
		{% endif %}

{% endif %}