{% extends "base.html" %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
<script>
$(function() {
    console.log( "ready!" );
    recalculate_progress({{ progress.0}}, {{ progress.1 }})
});


function removeAns() {
    document.getElementById("next").style.visibility = "visible";
    document.getElementById("previous_div").remove();
}

function recalculate_progress(q, n){
	var progress = (q/n) * 100;
	document.getElementById("pr_bar").style.width = progress.toString().concat("%");
	}

</script>

<div class="progress">
    <div id="pr_bar" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%">
    </div>
</div>


{% if previous.answers %}

<div id="previous_div" class="container">
    <div class="row text-center">
    <header class="jumbotron hero-spacer">

        <h1 class="lead">{{ previous.previous_question }}</h1>

        {% if previous.previous_question.figure %}
        <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
        {% endif %}

        <div class="form-group">
        {% for answer in previous.answers %}
          <a class="btn btn-lg {% if answer.correct %}btn-success{% elif previous.previous_outcome %}btn-default{% else %}btn-danger{% endif %}">
            {{ answer.content }}
          </a>
        {% endfor %}
        </div>

        <div
      {% if previous.previous_outcome %}
         class="alert alert-success">
      {% else %}
         class="alert alert-warning">
      {% endif %}

          <p><small>
            {% trans "Your answer was" %} </small>
            <strong>
              {{ previous.previous_outcome|yesno:"correct,incorrect" }}
            </strong>
          </p>

        </div>

        <button onclick="removeAns()">Next question</button>
    </header>
    </div>
</div>
{% endif %}


{% if question %}
<div class="container" {% if previous.answers %} id="next" style="visibility: hidden;" {% endif %}>
<div class="row text-center">
<header class="jumbotron hero-spacer">

    {% if previous.answers %}
        <div id="next2">

    {% endif %}

    <h1 class="lead">{{ question.content }}</h1>

    {% if question.figure %}
        <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
        {% for answer in form.answers %}
          <a class="btn btn-default">
            {{ answer }}
          </a>
        {% endfor %}
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value={% trans "Check" %} class="btn btn-large btn-primary" onclick="recalculate_progress({{ progress.0|add:1 }}, {{ progress.1 }})">
        </div>
    </form>

    {% if previous.answers %}
    </div>
        {% endif %}
</header>
</div>
</div>
{% endif %}

{% endblock %}
